.button {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    border-style: solid;
    border-width: 0;
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-weight: normal;
    line-height: normal;
    margin: 0 0 1.25rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 1rem 2rem 1.0625rem 2rem;
    font-size: 1rem;
    background-color: #fd6359;
    border-color: #007095;
    color: #fff;
    transition: background-color 300ms ease-out
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
    background-color: #ffb74e;
    background: #ffb74e;
}

button.disabled:hover,
button.disabled:focus,
button[disabled]:hover,
button[disabled]:focus,
.button.disabled:hover,
.button.disabled:focus,
.button[disabled]:hover,
.button[disabled]:focus {
    background-color: #ffb74e
}

button {
    background: #fd6359;
}

.form button:hover,
.form button:focus {
    background: #feb64d;
    box-shadow: none;
}

#titulo {
    text-align: center;
}
